<div class="mainContainer">
  <div class="left"><app-pump-states></app-pump-states>
    <app-tank-states></app-tank-states>
  </div>
  <div class="right">
    <div class="topRight">
      <div class="incidentMainContainer">
        <app-incidents *ngFor="let incident of listIncidents" [incident]="incident"></app-incidents>
      </div>
    </div>
    <div class="bottomRight">
      <div class="verticalButtons">
        <button class="greenButton" routerLink="/stocks"><img src="../../assets/stocks.png" alt="stocks">
          Stocks</button>
        <button class="greenButton" routerLink="/stocks/inventory"><img src="../../assets/prix.png" alt="prix">
          Prix</button>
        <button class="greenButton" routerLink="/horaires"><img src="../../assets/horaires.png" alt="horaires"> Horaires
          et conso</button>
        <button routerLink="/comptabilite" class="greenButton"><img src="../../assets/compta.png" alt="comptabilité"> Comptabilité</button>
      </div>
      <app-add-reappro></app-add-reappro>
    </div>
  </div>
</div>
